<h1 class="primus3">Regístrate y obtén 100 créditos</h1>
<p>Convierte tu talento en oportunidades reales con Rockstar.</p>

<p class="primus2">
  Convierte tu experiencia en un modelo de negocio rentable. 
  En Rockstar te damos las herramientas, la comunidad y el impulso para que tu talento brille.
</p>

<div class="contenedor-boton">
  <%= link_to "Quiero mi cuenta pionero", new_user_registration_path, class: "boton-interesado" %>
</div>

<h1 class="primus">
  Emprende con nosotros, transforma tus conocimientos y experiencia en un modelo de negocio rentable
</h1>
