<div class="contenedor-boton"> 
  <%= link_to "Estoy interesado", new_user_registration_path, class: "boton-interesado" %>
</div>

inproove the feature
<h1>Estas dentro de los primeros usuarios </h1>
<p>Find me in app/views/pages/homepage.html.erb</p>


inproove the feature
<h1>Estas dentro de los primeros usuarios </h1>
<p>Find me in app/views/pages/homepage.html.erb</p>

