default: &default
  pool: 5
  timeout: 5000

development:
  adapter: sqlite3
  database: db/development.sqlite3

test:
  adapter: sqlite3
  database: db/test.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: souls_user
  password: nopassword
  pool: 5
  database: souls_production

