// app/assets/stylesheets/application.scss
@import "active_admin/mixins";
@import "active_admin/base";

.centered-content {
  display: flex;
  flex-direction: column;   // coloca los hijos en columna
  justify-content: center;  // centra verticalmente
  align-items: center;      // centra horizontalmente
  min-height: 100vh;        // ocupa toda la altura de la pantalla
  margin-top: -18em;

}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.logo {
  height: 8em;
  width: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #007bff;
  font-size: 4em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.footer {
text-align: center;
}
.footerlogo {
  font-family: 'Courier New', monospace;
  font-size: 20px;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.boton-interesado {
  background: #0084ff;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  padding: 20px 40px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
  margin-top: 40px;
  margin-bottom: 43px;
}

.boton-interesado:hover {
  background: #005fcc;
}

.flash-messages {
  display: flex;
  justify-content: center; // centra horizontalmente
  margin-top: 20px;
}

.custom-alert {
  background-color: #ccffcc; /* verde claro */
  border: 2px solid #006400; /* verde oscuro */
  padding: 10px 40px 10px 10px;
  position: relative;
  width: fit-content;
  border-radius: 5px;
  font-weight: bold;
   margin: 20px auto; /* centra horizontalmente */
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #006400;
}

